.slider-component {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 3rem 0;
}

.slider-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.header-image {
  width: 4vw;
  height: auto;
}

.header-title {
  font-family: 'Rufina', serif;
  font-weight: bold;
  font-size: 4rem;
  color: #273812;
  margin: 1rem 1rem;
}
.bg-wh{
  display: none;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom:10px;

}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  align-items: center;
  height: 100%;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
  padding: 0;
}

.slider-button.left {
  left: 1.5%;
  background-image: url('/public/images/VectorPrevArrow.png');
}

.slider-button.right {
  right: 1.5%;
  background-image: url('/public/images/VectorNextArrow.png');
}

.card {
  flex: 0 0 calc(100% / 1);
  box-sizing: border-box;
  padding: 0 1.5%;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: #D3E4AE;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.dot.active {
  background-color: #273812;
}
 
/* Media Queries for responsive design */

@media (min-width: 1024px) {
  .card {
    flex: 0 0 calc(100% / 3);
  }
  .slider-button {
    display: block;
  }
}

@media (max-width: 1024px) {
  .slider-component{
    height: 160vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .card {
    flex: 0 0 calc(100% / 1);
  }
  .slider-button {
    display: none;
  }
  .slider-header{
    margin-top: 0rem;
    margin-bottom: 3rem;
    height: 10%;
  }
  .header-title {
    font-size: 4rem;
  }
  .slider-wrapper{
    display: flex;
    width: 100%;
    align-items: center;

    height: 100%;
  }
  .slider-container{
    height: 100%;
  }
  .bg-wh{
    position: absolute;
    height: 100%;
    width: 110%;
    z-index: -1;
    display: block;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 6vw;
  }
  .header-image {
    width: 12vw;
  }
}
