.card {
  width: 40%; 
  max-width: 100%; 
  margin: 1% auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  font-family: Rufina;
} 

.card-action-area {
  display: flex;
  flex-direction: column;
  width: 25vw;
  max-width: 30vw;
  max-height: 50vw;
  text-align: center;
  cursor: pointer;
}

.card-media {
  width: 100%;
  height: 15vw; 
  max-height: 30vh;
  min-height:30vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-content {
  background-color: #3C5220;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%; /* Usa porcentajes para que el relleno sea relativo al tamaño del contenedor */
  transition: background-color 0.3s;
  border-radius: 0 0 10px 10px;
  width: auto;
  height: 30vw;
}
.parent-div > * {
  height: 100%;
}
.title-container{
  height: 10%;

}
.description-container{
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 

}
.description-container p{
  text-align: center;
  height: 100%;
}
.card-content:hover {
  background-color: #273812;
}

.card-title {
  margin: 0;
  font-size: 1.5rem; 
  font-weight: bold;
  white-space: nowrap;
}

.card-description {
  font-size: 0.7rem; 
  text-align: justify;
  padding: 5%; 
}

.card-actions {
  margin-top: 1rem; 
}

.card-button {
  display: flex;          /* Habilita Flexbox */
  justify-content: center; /* Centra contenido horizontalmente */
  align-items: center;    /* Centra contenido verticalmente */
  border: 2px solid white;
  color: white;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 240px;
  height: 50px;
  margin-top: 20px;
}

.card-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Media Queries for responsive design */
@media (min-width: 1200px) {
  .card-description {
    font-size: 1rem; 
  }

}
@media (min-width: 1200px) and (max-width: 1310px) {
  .card-description {
    font-size: 0.8rem; 
  }
}

@media (min-width: 1400px){
  .card-description {
    font-size: 1rem; 
  }

}
@media (min-width: 1700px){
  .card-description {
    font-size: 1.2rem; 
  }

}
@media (min-width: 2000px){
  .card-title{
    font-size: 2rem;
  }
  .card-description {
    font-size: 1.5rem; 
  }
  .card-button {

    padding: 0.5rem 1rem; 
    font-size:1.2rem; 
  }

}
@media (min-width: 2300px){
  .card-title{
    font-size: 2.5rem;
  }
  .card-description {
    font-size: 1.6rem; 
  }
  .card-button {

    padding: 0.5rem 1rem; 
    font-size: 1.0rem; 

  }

}

@media (min-width: 1025px) and (max-width:1125px){
  .card-actions{
    margin-top: 0%;
  }
  .card-description{
    font-size: 0.859rem;
  }

}

@media (min-width: 850px) and (max-width:1125px)
{

  .card-action-area {
    margin: 0 0 0 7%;
}
}
@media (max-width:850px){
  .card-action-area{
    max-height: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {

  .card {
      width: 100%; 
      height: 90%;
      padding: 0% 12% 0% 12%;
      display: block;
      margin: 0%;
    }
  .card-action-area{
    width: 100%;
    height: 100%;
    min-width: 90%;
    min-height: 100vw;


  }
  .card-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: 100%;
    width: 100%;
  }
  .card-title {
    font-size: 3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    /* max-height: 15%; */
  }

  .card-description {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem
  }
  .card-media{
    height: 45vw;
  }
  .card-content{
    width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 4%;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  .card-button{
    height: 6vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

  }
  .title-container{
    height: auto;
  }
}

@media (max-width:900px) and (min-width:769px){
  .card-description {
    font-size: 1.5rem
  }
  .card-button{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 1.5rem;
  }

}

@media (max-width: 769px){
  .card-description {
    font-size: 1.5rem

  }

  .card-title{
    font-size: 2.5rem

  }

.card-button{
  margin-top: 0%;
  margin-bottom:0;
  font-size: 1.5rem;
  height: auto;
  width:auto;

}.card-content{
  height: 600px;
}


}


@media (max-width:640px) and (min-width:512px){
  .card-description{
    font-size: 1.2rem;
  }
  .card-button{
    font-size: 1.2rem;
  }
.card-title{
  font-size: 1.8rem;
}


}
@media (max-width:512px) and (min-width:481px){
  .card-title{
    font-size: 1.8rem;
  }
  .card-description{
    font-size: 1.15rem;
  }
  .card-button{
    font-size: 1.19rem;
  }
}
@media (max-width:500px){

}



@media (max-width: 480px){
  .card-description {
    font-size: 1rem;

  }

  .card-title{
    font-size: 1.6rem;

  }
.card-button{
  font-size: 1rem;
  
}

  
}

@media (max-width: 380px) {


  .card-title{
    font-size: 1.5rem;

  }
  .card-description{
    font-size: 0.9rem;
    
  }
  .card-button{
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 1rem;
    width: 100%;
  
  }
  .description-container{

    align-items: start;
  
  }
  .card-media{
    height: 40vw;
  }

}
@media (max-width: 330px) {
  .card-description{
    font-size: 0.8rem;
    
  }
  .card-button{
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 0.9rem;
    width: 100%;
  
  }
  .card{
    height: 90%;
  }
  .card-content{
    height: 70%;
  }
}
