.slider_container{
    position: relative;
    overflow: hidden;

}

.rating_slider_container{
    width: 100%;
    height: 100%;
    margin: 10% 0%;
    background-color: #f8f5f5;
    /* background-image: url('src/assets/images/pexels-edward-jenner-4252525.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; */

}
.slider_content {
    position: relative;
    z-index: 1;
}
/* .slick-list{
    
} */
.slick-dots{
    position: absolute; /* Ajustar la posición para que los dots estén en la parte superior */
    bottom: 20px; /* Ajustar la posición vertical según sea necesario */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%);
    z-index: 2;
}

.slick-dots li {
    margin: 0;  
    background-color: transparent;
}

.slick-dots li button {
    list-style: none;
    width: 15%; 
    height: 15%;  
    border-radius: 50%; 
    background-color: rgb(13, 193, 13); 

}

/* Estilo para el dot activo */
.slick-dots li.slick-active button {
    background-color: rgb(1, 28, 1);  /* Color para el dot activo */
}

.slick-dots li button::before {
    content: none !important; 
    display: none !important; }

.slick-dots li button:hover{
    margin: 0;
    background-color: rgb(194, 193, 193);
}