.rating_slider_container {
  width: 100%;
  height: 100%;
  padding: 10% 0;
  background-color: RGB(247, 247, 247);
  position: relative;
  overflow: hidden;
}
.slick-slide img {
  display: block;
  width: 100px;
  height: 100px;
}
@media(max-width: 750px){
  .slick-slide img {
    width: 70px;
    height: 70px;
  }

}

@media(max-width: 380px){
  .slick-slide img {
    width: 50px;
    height: 50px;
  }

}
@media(max-width: 280px){
  .slick-slide img {
    width: 40px;
    height: 40px;
  }

}
@media(max-width: 240px){
  .slick-slide img {
    width: 35px;
    height: 35px;
  }

}



.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none; /* Para asegurarse de que no interfiera con la interacción del usuario */
}

.background-image-left-rating-slider,
.background-image-right-rating-slider,
.background-image-top-rating-slider,
.background-image-bottom-rating-slider {
  position: absolute;
  width: auto;
  height: auto;
  display: none; /* Ocultar por defecto */
}

/* Imágenes de "left" y "right" para pantallas grandes */
@media only screen and (min-width: 1060px) {
  .background-image-left-rating-slider,
  .background-image-right-rating-slider {
    display: block;
  }
}

.background-image-left-rating-slider {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20%;
}

.background-image-right-rating-slider {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20%;
}

/* Imágenes de "top" y "bottom" para pantallas pequeñas */
@media only screen and (max-width: 1059px) {
  .background-image-top-rating-slider,
  .background-image-bottom-rating-slider {
    display: block;
  }
}

.background-image-top-rating-slider {
  top: 15px; 
  left: 15px; 
  width: 20%;
}

.background-image-bottom-rating-slider {
  bottom: 50px; 
  right: 0px; 
  width: 15%;
}

.slider_container {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.slick-dots li {
  margin: 0;
  background-color: transparent;
}

.slick-dots li button {
  list-style: none;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background-color: rgb(13, 193, 13);
}

.slick-dots li.slick-active button {
  background-color: rgb(1, 28, 1);
}

.slick-dots li button::before {
  content: none !important;
  display: none !important;
}

.slick-dots li button:hover {
  margin: 0;
  background-color: rgb(194, 193, 193);
}



@media (min-width:250px) and (max-width:300px){
  .background-image-bottom-rating-slider {
    bottom: 5%;
    width: 15%;
  }
  
  .background-image-bottom-rating-slider img {
    width: 100%;

}}

@media (min-width:300px) and (max-width:380px){
  .background-image-top-rating-slider {
    top: 5%;
    left: 3%;
    width: 25%;
  }
  .background-image-top-rating-slider img {
    width: 100%;
  }
  
  .background-image-bottom-rating-slider {
    bottom:5%;
    width: 15%;
  }
  
  .background-image-bottom-rating-slider img {
    width: 15vh;
  }

}

@media only screen and (min-width: 380px) and (max-width: 430px){
  .background-image-top-rating-slider {
      top: 5%;
      left: 3%;
      width: 25%;
    }
    .background-image-top-rating-slider img {
      width: 100%;
    }
    
    .background-image-bottom-rating-slider {
      width: 15%;
      bottom: 5%;
    }
    
    .background-image-bottom-rating-slider img {
      width: 15vh;
    }

}

@media only screen and (min-width: 430px) and (max-width: 481px) {
  .background-image-top-rating-slider {
    top: 5%;
    left: 3%;
    width: 25%;
  }
  .background-image-top-rating-slider img {
    width: 100%;
  }
  
  .background-image-bottom-rating-slider {

    width: 15%;
  }
  
  .background-image-bottom-rating-slider img {
    width: 100%;
  }
} 

@media only screen and (min-width:481px) and (max-width: 541px){
  .background-image-top-rating-slider {
      top: 10%;
      left: 3%;
      width: 25%;
    }
  .background-image-top-rating-slider img {
      width: 100%;
    }
    .background-image-bottom-rating-slider {
      width: 15%;
    }
    
    .background-image-bottom-rating-slider img {
      width: 100%;
    }
  }



@media only screen and (min-width: 540px) and (max-width: 600px) {
  .background-image-top-rating-slider {
    top: 5%;
    left: 3%;
    width: 24%;
  }
  .background-image-top-rating-slider img {
    width: 100%;
  }
  
  .background-image-bottom-rating-slider {
    bottom: 5%;
    width: 15%;
  }
  
  .background-image-bottom-rating-slider img {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 670px) {
  .background-image-top-rating-slider {
      top: 5%;
      left: 6%;
      width: 25%;
    }
    .background-image-top-rating-slider img {
      width: 100%;
    }
    
    .background-image-bottom-rating-slider {
      bottom: 5%;
      width: 15%;
     
    }
    
    .background-image-bottom-rating-slider img {
      width: 16vh;
    }

}

@media only screen and (min-width: 671px) and (max-width: 720px) {
  .background-image-top-rating-slider {
      top: 5%;
      left: 6%;
      width: 25%;
    }
    .background-image-top-rating-slider img {
      width: 100%;
    }
    
    .background-image-bottom-rating-slider {
      bottom: 5%;
      right: -1%;
      width: 15%;
    }
    
    .background-image-bottom-rating-slider img {
      width: 18vh;
    }

}

@media only screen and (min-width: 721px) and (max-width: 900px) {
  .background-image-top-rating-slider {
      top: 5%;
      left: 6%;
      width: 20%;
    }
    .background-image-top-rating-slider img {
      width: 100%;
    }
    
    .background-image-bottom-rating-slider {
      bottom: 5%;
      width: 13%;
    }
    
    .background-image-bottom-rating-slider img {
      width: 18vh;
    }

}
@media (min-width:901px) and (max-width:1059px){
  .background-image-top-rating-slider {
    top: 5%;
    left: 6%;
    width: 21%;
  }
  .background-image-top-rating-slider img {
    width: 100%;
  }
  
  .background-image-bottom-rating-slider {
    bottom: 5%;
    right: -1%;
    width: 13%;
  }
  
  .background-image-bottom-rating-slider img {
    width: 100%;
  }

}