.menu-container {
  width: 100%;
  height: 60vw;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row; 
}

.menu-column {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Necesario para el pseudo-elemento */
  overflow: hidden; /* Asegúrate de que la imagen no desborde el contenedor */
}

.menu-column::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Ajusta el color y la opacidad aquí */
  z-index: 1; /* Asegúrate de que la superposición esté encima de la imagen de fondo */
  transition: background-color 0.3s ease; /* Suaviza la transición del color de fondo */
}

.menu-column1 {
  background-image: url('/public/images/927c27ef57a7422e56dcc7b70f8d33c6.jpg');
  position: relative;
  max-height: 60vw;
}

.menu-column1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0; 
  transition: transform 0.3s ease; 
}

.menu-column1:hover::after {
  transform: scale(1.1); 
}

.menu-column2 {
  display: flex;
  flex-direction: column;
  max-height: 60vw;
}

.child-menu-column {
  width: 100%;
}

.child-menu-column::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Ajusta el color y la opacidad aquí */
  z-index: 1; /* Asegúrate de que la superposición esté encima de la imagen de fondo */
  transition: background-color 0.3s ease; /* Suaviza la transición del color de fondo */
}

.child-menu-column-1 {
  background-image: url('/public/images/6c7b0435079d201ebe72ced917e0717d.jpg');
  height: 50%; /* Cada hijo ocupa el 50% del contenedor */
  background-size: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative;
  overflow: hidden; 
}

.child-menu-column-1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0; 
  transition: transform 0.3s ease; 
}

.child-menu-column-1:hover::after {
  transform: scale(1.1); 
}

.child-menu-column-2 {
  background-image: url('/public/images/cb1ede58b981ff44a060f0871eb9eb6a.jpg');
  height: 50%; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  position: relative;
  overflow: hidden; /* Asegúrate de que la imagen no desborde el contenedor */
}

.child-menu-column-2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Usa la misma imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0; /* Coloca la imagen detrás del texto */
  transition: transform 0.3s ease; /* Suaviza la transición del zoom */
}

.child-menu-column-2:hover::after {
  transform: scale(1.1);
}

@media only screen and (max-width: 1050px) {
  .menu-container {
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .menu-column {
    width: 100%;
    height: 100vh;
  }
  .menu-column1 {
    max-height: 75vw;
  }
  .menu-column2 {
    max-height: 75vw;
  }
}
