.customerContainer{
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_customerContainer{
    color: #8DA260 ;
    font-size: 1rem;
    white-space: nowrap;
}

@media only screen and (max-width: 1060px) {
    .customerContainer{
        justify-content: space-around;
    }
    .p_customerContainer{
        padding: 0%;
        margin: 0%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 540px) {
    .customerContainer{
        justify-content: space-around;
    }
    .p_customerContainer{
        padding: 0%;
        margin: 0%;
        font-size: 0.8rem;
    }
    .customerContainer svg{
        width: 15%;
    }
} 
@media only screen and (max-width: 420px){
    .p_customerContainer{
        padding: 0%;
        margin: 0%;
        font-size: 0.5rem;
    }
    .customerContainer svg{
        width: 12%;
        padding: 0%;
        margin: 0%;
    }


}